<div ng-controller="ProductsController as productsCtrl">
  <div class="row col-md-10 col-md-offset-1">
    <div class="col-md-4">
      <button type="button" class="btn btn-large add-product" ng-model="productsCtrl.selectedItemsArray" ng-click="productsCtrl.deleteSelected()">
        <i class="fa fa-trash"></i>
        Delete selected
      </button>
    </div>
    <div class="col-md-6 text-right">
      <button type="button" class="btn btn-large add-product" ng-click="productsCtrl.create()">
        <i class="fa fa-plus"></i>
        New Product
      </button>
    </div>
    <div class="col-md-2 page-select">
      <select class="form-control" ng-model="productsCtrl.itemsPerPage" ng-options="item for item in productsCtrl.itemsPerPageArray">
        <option value="">-- items per page --</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div dir-paginate="product in productsCtrl.products | itemsPerPage : productsCtrl.itemsPerPage | filter:created_at:desc" total-items="productsCtrl.totalProductCount" current-page="pagination.current" class="col-md-10 col-md-offset-1">
      <product></product>
    </div>
  </div>

  <div class="row text-center">
    <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="productsCtrl.getPaginated(newPageNumber)"></dir-pagination-controls>
  </div>
</div>