<div class="page-header">
  <h1>Account settings <small>{{accountCtrl.user.email}}</small></h1>
</div>
<form name="accountForm" class="form-horizontal account-form" novalidate ng-submit="accountCtrl.editProfileData()">
  <div class="row">
    <!-- name -->
    <div class="form-group col-md-6">
      <label  class="col-md-3 control-label" for="inputName">Name</label>
      <div class="col-md-8">
        <input type="text" name="inputName" class="form-control" placeholder="John" id="inputName" ng-model="accountCtrl.user.name" autofocus>
      </div>
      <div class="row col-md-8 col-md-offset-3 text-left message-block" ng-messages="accountForm.inputName.$error" ng-show="accountForm.inputName.$touched" maxlength="255" role="alert">
        <p ng-message="maxlength">Name can be at most 255 characters long.</p>
      </div>
    </div>

    <!-- surname -->
    <div class="form-group col-md-6">
      <label  class="col-md-3 control-label" for="inputSurname">Surname</label>
      <div class="col-md-8">
        <input type="text" name="inputSurname" class="form-control" placeholder="Doe" id="inputSurname" ng-model="accountCtrl.user.surname">
      </div>
      <div class="row col-md-8 col-md-offset-3 text-left message-block" ng-messages="accountForm.inputSurname.$error" ng-show="accountForm.inputSurname.$touched" maxlength="255" role="alert">
        <p ng-message="maxlength">Name can be at most 255 characters long.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- email -->
    <div class="form-group col-md-6">
      <label  class="col-md-3 control-label" for="inputEmail">Email</label>
      <div class="col-md-8">
        <input type="email" name="email" class="form-control" placeholder="{{accountCtrl.user.email}}" id="inputEmail" ng-model="accountCtrl.user.email" required>
      </div>
    </div>

    <!-- phone number -->
    <div class="form-group col-md-6">
      <label  class="col-md-3 control-label" for="inputPhone">Phone number</label>
      <div class="col-md-8">
        <input type="text" name="phone" class="form-control" id="inputPhone"  ng-model="accountCtrl.user.phone" ui-br-phone-number>
      </div>
    </div>
  </div>

  <div class="row">
    <button class="btn add-product col-md-3 col-md-offset-5" type="submit">Save</button>
  </div>
</form>

<div class="row">
  <button class="btn add-product  col-md-3 col-md-offset-5" type="submit" ng-click="openChangePass = !openChangePass"><i class="fa fa-key"></i> Change password</button>
</div>

<!-- change password -->
<div ng-show="openChangePass">
  <form name="passwordForm" class="form-horizontal password-form" novalidate ng-submit="accountCtrl.changePassword()">
    <div class="row">
      <div class="form-group col-md-6">
        <label class="col-md-4 control-label" for="inputPassword">New password</label>
        <div class="col-md-8">
          <input type="password" name="password" class="form-control" id="inputPassword" ng-model="accountCtrl.user.password" ng-minlength="6" ng-maxlength="16" ng-pattern="/[a-zA-Z0-9]{6,16}/" autofocus>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label class="col-md-4 control-label" for="inputPasswordConfirm">Confirm password</label>
        <div class="col-md-8">
          <input type="password" name="confirmPassword" class="form-control" id="inputPasswordConfirm" ng-model="accountCtrl.user.passwordConfirm" ng-minlength="6" ng-maxlength="16" ng-pattern="/[a-zA-Z0-9]{6,16}/" password-compare="accountCtrl.user.password">
        </div>
        <div class="row col-md-8 col-md-offset-3 text-left message-block" ng-messages="passwordForm.confirmPassword.$error" role="alert">
          <p ng-message="passwordCompare">Doesn't match.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <button class="btn add-product col-md-3 col-md-offset-5" type="submit">Save password</button>
    </div>
  </form>
</div>