$fa-font-path: "font-awesome/fonts";

@import "font-awesome/scss/font-awesome.scss";

.navbar-default {
  background-color: #ffffff;
  border-color: #9A59BA;
}

product {
  display: block;
  /* background-color: #F7FFFB; */
  margin-top: 1em;
  margin-bottom: 0;
  padding: .7em;
  border-radius: .3em;
  border: .1em solid #9A59BA;
}

.btn.add-product {
  background-color: #61388E;
  border-color: #61388E;
  color: #ffffff;
  margin-top: 2em;
  &:hover, &:focus {
    background-color: #ffffff;
    border-color: #61388E;
    color: #61388E;
  }
  .modal-footer & { margin-top: 0; }
}

.control-button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  outline:none;
}

.page-select {
  padding-top: 2em;
}

.ng-dirty.ng-invalid {
  border-color: #EA5164;
}

.ng-dirty.ng-valid {
  border-color: #518B51;
}

.form-horizontal .control-label:after {
  content: " *";
  color: red;
}

.message-block {
  display: block;
  color: #EA5164;
  // margin-left: 8.3em;
  margin-top: 2.8em;
  margin-bottom: -.9em;

  .auth & {
    margin-top: .5em;
    // margin-left: 0;
  }
}



