<!DOCTYPE html>
<html>
  <head>
    <title>TestTask</title>
    <base href="/products">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body ng-app="spaTask">
    <div class="header">
      <div class="row">
        <div class="account-menu">
          <div ng-include="'navbar/_navbar.html'"></div>
        </div>
      </div>
    </div>
    <div class="container content">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 messages-container">
          <!-- flash messages -->
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div ui-view></div>
        </div>
      </div>
    </div>
  </body>
</html>
